<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Wassapp
    </title>
</head>
<body>
    <header>

    </header>
    <main>
        <!-- App container -->
        <div id="app" class="container">
            <!-- Loading screen -->
        <div v-if="isLoading" id="loading-page">
            <div class="ring">
            Loading
            <span></span>
            </div>
        </div>
            <!-- Left section-->
            <section id="container-left">
                <!-- User bar -->
                <div id="user-bar-section">
                    <div id="user-bar-left">
                        <div>
                            <img class="profile-pic-40" :src="user.avatar" alt="">
                        </div>
                        <h2>{{user.name}}</h2>
                    </div>

                    <div id="user-bar-right">

                    </div>
                    
                </div>
                <!-- Notification-section -->
                <div id="notification-section">

                </div>
                <!-- Searchbar section -->
                <div id="search-bar-section">
                    <input id="search-bar-input" type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchQuery">
                </div>
                <!-- Open chats -->
                <div id="open-chats">
                    <!-- Filtered contacts -->
                    <div v-for="contact in filteredContacts" class="chat" @click="selectContact(contact)">
                    <!-- Profile-picture -->
                    <div class="profile-picture-container">
                      <img class="profile-pic-50" :src="contact.avatar" alt="">  
                    </div>
                    <!-- Chatter name and infos -->
                    <div class="chat-info">
                      <h2 class="font-size-20">{{ contact.name }}</h2>
                      <h3 class="txt-color-gray font-size-12">{{ contact.messages[contact.messages.length - 1].message }}</h3>
                    </div>
                  
                    <div class="message-time">
                      <h4 class="txt-color-gray font-size-12">{{ contact.messages[contact.messages.length - 1].date }}</h4>
                    </div>
                  </div>
                </div>
            </section>

            <!-- Right section -->
            <section id="container-right" v-if="selectedContact">
                    <!-- User bar -->
                    <div id="selected-contact-bar">
                        <div>
                            <img class="profile-pic-50" :src="selectedContact.avatar" alt="">
                        </div>
                        <h2>{{selectedContact.name}}</h2>
                    </div>
                    <!-- Messages box -->    
                    <div id="message-card-wrapper">
                        <ul>
                            <li v-for="message in selectedContact.messages" :key="message.date" class="clearfix">
                                <div :class="message.status" class="message-card">
                                {{ message.message }}
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                    <!-- Write-in box -->  
                    <div id="write-in-box">
                        <input id="write-in-input" type="text" v-model="newMessage" @keyup.enter="addMessage" placeholder="Scrivi un messaggio">
                    </div>
            </section>
        

        
    </main>
    <!-- VUE -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="assets/scripts/main.js"></script>
    
</body>
</html>